{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3>
    
    <ul class="messages">
      
      <li class="message message--unread">
        <a href="message.html">
          <span class="message__author">Dennis Ivanov</span>
          <span class="message__subject">Working Opportunity for Web Design Company</span>
          <span class="message__date">May 31, 2021, 04:37 PM</span>
        </a>
      </li>
      
      

    </ul>
  </div>
</main>
{% endblock content %}
